<div class="side-image">
  <div class="images-wrapper"></div>
  <div class="recipe" data-list-id="<%= @list.id %>">
    <h2>List: <span class="title"><%= @list.name %></span></h2>
    <br />
    <h3>Ingredients needed:</h3>
    <div class="ingredient-list">
      <ul>
        <% if @barback.recipes.present? %>
          <% @barback.ingredients_in_recipes.each do |ingredient, amount| %>
            <li>
              <%= "%g" % ("%0.2f" % amount.scalar) %>
              <%= only_unit_of_measure(amount) %>
              <%= link_to ingredient.name.downcase, ingredient %>
            </li>
          <% end %>
        <% else %>
          <h5 class="faded">You don't need any ingredients yet.</h5>
        <% end %>
      </ul>
    </div>

    <br />

    <h3>Recipes included:</h3>

    <% if @list.owned_by?(current_user) %>
      <h4><%= link_to "Edit list", edit_list_path(@list), class:"edit-button" %></h4>
    <% end %>

    <% if @list.recipes.present? %>
      <ul>
        <% @list.list_recipes.each do |list_recipe| %>
          <li>
            <%= link_to list_recipe.name, recipe_path(list_recipe.recipe) %>
            x
            <%= list_recipe.quantity %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <h4>There are no recipes in this list.</h4>
    <% end %>

    <br />
    <% if @list.owned_by?(current_user) %>
      <%= button_to "Delete list",
        list_path(@list),
        method: :delete,
        class:"delete-button" %>
    <% end %>
  </div>
</div>
