<%= form_for [recipe, RecipeIngredient.new] do |form| %>
  <div>
    <h5><%= form.label "Ingredient" %></h5>
    <% options = options_from_collection_for_select( bartender.unused_ingredients,
                                                    "id",
                                                    "name",
                                                   ) %>
    <%= form.select :ingredient_id, options %>
  </div>

  <% if flash[:notice] %>
    <div id="notice" class="error"><%= flash[:notice] %></div>
  <% end %>

  <div>
    <%= form.label :quantity %>
    <%= form.text_field :quantity %>
  </div>

  <div>
    <% units_of_measure = RecipeIngredient.valid_units_of_measure %>
    <%= form.select :unit_of_measure, units_of_measure %>
  </div>

  <%= form.submit "Add ingredient to recipe" %>
<% end %>
