<%= recipe_ingredient.name %>
<%= form_for [recipe_ingredient.recipe, recipe_ingredient] do |form| %>
  <div>
    <%= form.label :qty %>
    <%= form.text_field :qty %>
  </div>

  <div>
    <% units_of_measure = RecipeIngredient.valid_uom %>
    <%= form.select :uom, units_of_measure %>
  </div>

  <%= form.submit "Edit ingredient quantity" %>
<% end %>

<%= button_to "Remove ingredient", [recipe_ingredient.recipe, recipe_ingredient], method: :delete %>
