<%= render "error_messages", target: recipe %>

<%= form_for recipe, id: "recipe" do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :instructions %>
    <%= form.text_area :instructions %>
  </div>

  <%= form.submit %>
<% end %>
