<div class="recipe">
  <h3><%= recipe.name %></h3>
  <%= link_to "Edit recipe", edit_recipe_path(recipe), class:"edit-recipe" %>

  <br />
  <br />

  <h4>Ingredients</h4>

  <div>
    <ul>
      <%= render recipe.recipe_ingredients %>
    </ul>
  </div>

  <br />

  <h4>Instructions</h4>
  <div class="recipe-instructions">
    <%= recipe.instructions %>
  </div>

  <br />

  <%= button_to "Delete", recipe, method: :delete %>
</div>
