<div class="side-image">
  <div class="images-wrapper"></div>
  <div class="recipe" data-recipe-id="<%= recipe.id %>">
    <h3 class="title"><%= recipe.name %></h3>
    <% if recipe.owned_by?(current_user) %>
      <%= link_to "Edit recipe", edit_recipe_path(recipe), class:"edit-recipe" %>
      <br />
    <% end %>

    <br />

    <h5>Average rating: <%= recipe.average_rating %></h5>

    <% if signed_in? %>
      <%= render "ratings/form", recipe: recipe %>
      <% if recipe.rated_by?(current_user) %>
        <%= button_to "Unlike recipe", [recipe, recipe_ballot(recipe)], method: :delete %>
      <% end %>
      <br />
    <% end %>

    <h4>Serves</h4>
    <% if recipe.owned_by?(current_user) %>
      <%= link_to "Edit", edit_recipe_path(recipe), class:"edit-recipe" %>
    <% end %>
    <div class="faded">
      <%= pluralize(recipe.serves, "person") %>
    </div>

    <br />

    <h4>Ingredients</h4>
    <% if recipe.owned_by?(current_user) %>
      <%= link_to "Edit", edit_recipe_path(recipe), class:"edit-recipe" %>
    <% end %>
    <div>
      <% if recipe.recipe_ingredients.present? %>
        <ul>
          <%= render recipe.recipe_ingredients.order("quantity DESC") %>
        </ul>
      <% else %>
        There haven't been any ingredients added yet!
      <% end %>
    </div>

    <br />

    <h4>Instructions</h4>
    <% if recipe.owned_by?(current_user) %>
      <%= link_to "Edit", edit_recipe_path(recipe), class:"edit-recipe" %>
    <% end %>
    <div class="recipe-instructions">
      <%= recipe.instructions %>
    </div>

    <br />

    <% if recipe.owned_by?(current_user) %>
      <%= button_to "Delete", recipe, method: :delete %>
    <% end %>
  </div>
</div>
