<div class="recipe">
  <h3><%= recipe.name %></h3>
  <% if recipe.owned_by?(current_user) %>
    <%= link_to "Edit recipe", edit_recipe_path(recipe), class:"edit-recipe" %>
  <br />
  <% end %>

  <br />

  <% if signed_in? %>
    <%= form_for [recipe, recipe_ballot(recipe)] do |form| %>
      <%= form.collection_radio_buttons :value,
                                        [[1, "1"],[2,"2"],[3,"Meh"],[4,"4"],[5,"5"]],
                                        :first,
                                        :last,
                                        { item_wrapper_tag: false } do |button| %>
                <%=  button.radio_button + button.label(class: "value_button") %>
      <% end %>

      <%= form.submit %>
    <% end %>

    <% if recipe.rated_by?(current_user) %>
      <%= button_to "Unlike recipe", [recipe, recipe_ballot(recipe)], method: :delete %>
    <% end %>
  <% end %>

  <h4>Ingredients</h4>

  <div>
    <ul>
      <%= render recipe.recipe_ingredients.order("qty DESC") %>
    </ul>
  </div>

  <br />

  <h4>Instructions</h4>
  <div class="recipe-instructions">
    <%= recipe.instructions %>
  </div>

  <br />
  <% if recipe.owned_by?(current_user) %>
    <%= button_to "Delete", recipe, method: :delete %>
  <% end %>
</div>
