<h2>Edit <%= link_to @recipe.name, @recipe %></h2>
<div class="underscore-box">
  <%= render "recipes/form", recipe: @recipe %>
</div>

<h3>Ingredients ( <%= @bartender.ingredients.count %> ) - edit</h3>
<div class="underscore-box">
  <% if @bartender.ingredients.present? %>
    <% @bartender.ingredients.each do |ingredient| %>
      <%= render "recipe_ingredients/edit_form", recipe_ingredient: ingredient %>
      <br />
    <% end %>
  <% else %>
    There are no ingredients associated with this recipe.
  <% end %>
</div>

<h3>Add ingredient</h3>
<div class="underscore-box">
  <%= render "recipe_ingredients/add_form", recipe: @recipe, bartender: @bartender %>
</div>

<h3>Suggest a new ingredient:</h3>
<div class="underscore-box">
  <%= render "ingredients/form", ingredient: Ingredient.new %>
</div>
