<h5><%= list_recipe.name.upcase %>
<%= form_for [list_recipe.list, list_recipe] do |form| %>
  <div>
    <%= form.label "Servings (drink/person)" %>
    <%= form.select :qty, (1..100) %>
  </div>

  <div>
    <%= form.submit :submit %>
  </div>
<% end %>

<%= button_to "Remove recipe", [list_recipe.list, list_recipe], method: :delete %>
