<%= form_for [list, ListRecipe.new] do |form| %>
  <div>
    <h5><%= form.label "Recipe" %></h5>
    <% options = options_from_collection_for_select( barback.recipes_to_add,
                                                    "id",
                                                    "name",
                                                   ) %>
    <%= form.select :recipe_id, options %>
  </div>

  <% if flash[:notice] %>
    <div id="notice" class="error"><%= flash[:notice] %></div>
  <% end %>

  <div>
    <%= form.label :qty %>
    <%= form.text_field :qty %>
  </div>

  <%= form.submit "Add recipe to list" %>
<% end %>
