<h3><%= @ingredient.name.capitalize %></h3>

<%= link_to "Edit ingredient", edit_ingredient_path(@ingredient) %>

<div>
  <h4>Ingredient description</h4>
  <%= @ingredient.description %>
</div>

<br />

<div>
  <h4>Drinks made with <%= @ingredient.name %></h4>
  <ul>
    <% @recipes.each do |recipe| %>
      <li>
        <%= link_to recipe.name, recipe %>
      </li>
    <% end %>
  </ul>
</div>

<br />

<%= button_to "Delete ingredient", @ingredient, method: :delete %>
