<div class="side-image">
  <div class="images-wrapper"></div>
  <div class="recipe" data-ingredient-id="<%= @ingredient.id %>">
    <h3 class="title"><%= @ingredient.name.capitalize %></h3>
    <% if signed_in? %>
      <%= link_to "Edit ingredient", edit_ingredient_path(@ingredient) %>
    <% end %>
    <br />
    <h4>Ingredient description</h4>
    <div>
      <%= @ingredient.description %>
    </div>

    <br />

    <div>
      <h4>Drinks made with <%= @ingredient.name %></h4>
      <ul>
        <% @recipes.each do |recipe| %>
          <li>
            <%= link_to recipe.name, recipe %>
          </li>
        <% end %>
      </ul>
    </div>

    <br />

    <%= button_to "Delete ingredient", @ingredient, method: :delete %>
  </div>
</div>
