<!DOCTYPE html>
<html>
<head>
  <title>Mixologist</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <header class="session">
      <% if signed_in? %>
        <%= current_user.email %>
        <%= link_to "Sign out", session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign in", new_session_path %>
        <%= link_to "Sign up", new_user_path %>
      <% end %>
    </header>

    <div class="float-right">
      <%= render "searches/form", query: @query %>
    </div>

    <h1><%= link_to "Mixologist", root_path %></h1>

    <div class="menu">
      <%= link_to "Lists", lists_path %> |
      <%= link_to "Cocktail recipes", recipes_path %> |
      <%= link_to "Ingredients", ingredients_path %> |
    </div>

    <% if flash[:notice] %>
      <div id="notice" class="error"><%= flash[:notice] %></div>
    <% end %>

    <div class="content">
      <%= yield %>
    </div>
  </div>

</body>
</html>
