<!DOCTYPE html>
<html>
<head>
  <title>Mixologist</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <header class="session">
      <% if signed_in? %>
        <%= link_to "Recipes", recipes_path %> |
        <%= link_to "Ingredients", ingredients_path %> |
        <%= current_user.email %>
        <%= link_to "Sign out", session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign in", new_session_path %>
        <%= link_to "Sign up", new_user_path %>
      <% end %>
    </header>

    <h1><%= link_to "Mixologist", root_path %></h1>

    <div class="search">
      <%= form_tag recipes_path, method: :get do %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", name: nil %>
      <% end %>

      <% if @results.present? %>
        <% if @results.class != String %>
          <h4>Recipes mentioning "<%= params[:search] %>"</h4>
          <ul>
            <%= render "searches/results", results: @results %>
          </ul>
        <% else %>
          <%= @results %>
          <br />
        <% end %>
      <% end %>
    </div>

    <div class="content">
      <%= yield %>
    </div>
  </div>

</body>
</html>
